@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
  background-color: #eeeeee;
  font-family:
 'Roboto', sans-serif;
  font-style: normal;
}

.toggleButton {
  display: flex;
  justify-content: center;
  column-gap: 0.2rem;
}

button {

  background-color: #5682b1;
  color: white;
}

.messageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;

  height: 6rem;
  width: 20rem;
  word-wrap: break-word;
  margin: auto;

}
.messageBody {
  text-align: center;
}

video {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden !important;
}

button, .messageDiv, .videoDiv {
  border-radius: 8px;
}
